page-powsetting {
    body {
        cursor: url('http://ionicframework.com/img/finger.png'), auto;
    }
    
    .header .col {
        background-color:#488aff;
        color: white;
        font-weight: bold;
        font-size: 12px;
       text-align: left
    }
    
   
    .toast-success {
        
            // background-color:#32db64;
             background-color: white;
      }
      .toast-container{
        background-color: white;
        }
}
